.task_25 { 
    p {
        color: red;
    }
    }
    .task_26 {

        p {
            color: orange;
        }
        h1 {
            color: green;
        }
        h2 {
            color: blue;
        }
        h3 {
            color: red;
        }
    }
    .task_27 {
        h1 {
            color: rgb(255, 0, 0);
        }
        p {
            color: #ff8800;
        }
        h2 {
            color: rgb(238, 255, 0);
        }
        h3 {
            color: #08f100;
        }
        h4 {
            color: rgb(0, 227, 243);
        }
        h5 {
            color: #0027c4	;
        }
        h6 {
            color: rgb(101, 0, 168);
        }
    
        b {
            color: #f800a5;
        }
        i {
            color: #761d38;
        }
    }
    .task_28_1 {
        p {
            width: 300px;
        }
    }
    .task_28_2 {
        td {
            width: 400px;
            height: 300px;
        }
    }
    .task_34{
        h1 {
            text-align: right;
        }
    
        h2 {
            width: 300px;
            text-align: center ;
        }
    
        table {
            width: 500px;
        }
    
        th {
            text-align: left;
        }
    
        td {
            text-align: center;
        }
        p
        {
            width: 300px;
            text-align: justify;
        }
    }
    .task_35 {

        td {
            width: 500px;
            height: 300px;
        }
    
       th {
            font-weight: normal;
        }
        td {
            text-align: center;
            font-weight: bold;
        }
    }
    
    