.task_25 { 
    p {
        color: red;
    }
    }
    .task_26 {

        p {
            color: orange;
        }
        h1 {
            color: green;
        }
        h2 {
            color: blue;
        }
        h3 {
            color: red;
        }
    }