.task_25 { 
    p {
        color: red;
    }
    }
    .task_26 {

        p {
            color: orange;
        }
        h1 {
            color: green;
        }
        h2 {
            color: blue;
        }
        h3 {
            color: red;
        }
    }
    .task_27 {
        h1 {
            color: rgb(255, 0, 0);
        }
        p {
            color: #ff8800;
        }
        h2 {
            color: rgb(238, 255, 0);
        }
        h3 {
            color: #08f100;
        }
        h4 {
            color: rgb(0, 227, 243);
        }
        h5 {
            color: #0027c4	;
        }
        h6 {
            color: rgb(101, 0, 168);
        }
    
        b {
            color: #f800a5;
        }
        i {
            color: #761d38;
        }
    }
    .task_28_1 {
        p {
            width: 300px;
        }
    }
    .task_28_2 {
        td {
            width: 400px;
            height: 300px;
        }
    }
    .task_34{
        h1 {
            text-align: right;
        }
    
        h2 {
            width: 300px;
            text-align: center ;
        }
    
        table {
            width: 500px;
        }
    
        th {
            text-align: left;
        }
    
        td {
            text-align: center;
        }
        p
        {
            width: 300px;
            text-align: justify;
        }
    }
    .task_35 {

        td {
            width: 500px;
            height: 300px;
        }
    
       th {
            font-weight: normal;
        }
        td {
            text-align: center;
            font-weight: bold;
        }
    }
    .task_36 {
        h2 {
            font-style: italic;
        }
    }
    .task_37 {
        h1{
            font-size: 50px;
            text-align: center;
    
        }
        h2{
            font-size: 40px;
            font-weight: normal;
    
        }
        p{
            font-size: 30px;
    
        }
    }
    .task_38 {
        h1 {
            font-family: Arial;
        }
        h2 {
            font-family: Georgia;
        }
        h3 {
            font-family: Verdana;
        }
        h4 {
            font-family: "Trebuchet MS";
        }
        h5 {
            font-family: Impact;
        }
        h6 {
            font-family: "Arial Black";
        }
    
        p {
            font-family: "Courier New";
        }
    }
    .task_39 {
        p {
            font-size: 30px;
            line-height: 15px;
            text-align: justify;
            width: 600px;
        }
    }
    .task_40{

        p {
            font-size: 30px;
            line-height: 15;
            text-align: justify;
            width: 400px;
        }
        
        }
        .task_41_1 {
            p {
                font: 13px/20px "Times New Roman";
            }
        }
        .task_41_2 {

            p {
                width: 300px;
                font: bold 40px Arial;
                color: red;
              }
              
        }
        
        .task_41_3 {
            p {
                font: italic bold 40px Arial; 
                text-indent: 50px;
                line-height: 60px;
              }
              
        }

        .task_42 {
            p {
                text-indent: 50px;
                text-align: justify;
                width: 400px;
            }
        }
    
        .task_44 {
            p {
                text-decoration: underline;
        
            }
        }
        .task_45 {
            p {
                text-decoration: overline;
                color: red;
           }
        }
    
        .task_46 {
            p
             {
                text-decoration:  line-through;
                color: green;
             }
        }
        .task_47 {
            a {
                text-decoration: none;
                color : red;
            }
        }

        .task_48 {
            h1{
                width: 500px;
                text-align: center;
                color: blue;
                font-size: 40px
            }

            h2{
                width: 500px;
                text-align: center;
                color: green;
                font-weight: normal;
                font-size: 30px;
            }

            p{
                width: 500px;
                text-align: justify;
                font-size: 16px;
                line-height: 25px;
                font-family: Arial;
                text-indent: 40px;
            }

            i{
                color: green;
            }

            ul{
    width: 400px;
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
             }
        }
        .task_50a{
            p {
                color: blue;
            }
        }

        .task_50b{
            p {
                color: blue;
            }
            b {
                color: red;
            }
        }

        .task_50c{
            b {
                color: red;
            }
            p {
                color: blue;
            }
        }

        .task_50d{
            ul {
                color: blue;
            }
        }

        .task_50e{
            ul {
                color: blue;
            }
            li {
                color: red;
            }
        }

        .task_50f{
            ul {
                color: blue;
            }
            li {
                color: red;
            }
            i {
                color: green;
            }
        }

        .task_50g{
            i {
                font-size: 30px;
            }
            ul {
                font-size: 20px;
            }
            li {
                color: red;
                font-weight: bold;
            }
        }

        .task_51{
            h1, h2, h3 {
                text-align: center;
            }
        }






