.task_25 { 
    p {
        color: red;
    }
    }
    .task_26 {

        p {
            color: orange;
        }
        h1 {
            color: green;
        }
        h2 {
            color: blue;
        }
        h3 {
            color: red;
        }
    }
    .task_27 {
        h1 {
            color: rgb(255, 0, 0);
        }
        p {
            color: #ff8800;
        }
        h2 {
            color: rgb(238, 255, 0);
        }
        h3 {
            color: #08f100;
        }
        h4 {
            color: rgb(0, 227, 243);
        }
        h5 {
            color: #0027c4	;
        }
        h6 {
            color: rgb(101, 0, 168);
        }
    
        b {
            color: #f800a5;
        }
        i {
            color: #761d38;
        }
    }
    .task_28_1 {
        p {
            width: 300px;
        }
    }
    .task_28_2 {
        td {
            width: 400px;
            height: 300px;
        }
    }
    .task_34{
        h1 {
            text-align: right;
        }
    
        h2 {
            width: 300px;
            text-align: center ;
        }
    
        table {
            width: 500px;
        }
    
        th {
            text-align: left;
        }
    
        td {
            text-align: center;
        }
        p
        {
            width: 300px;
            text-align: justify;
        }
    }
    .task_35 {

        td {
            width: 500px;
            height: 300px;
        }
    
       th {
            font-weight: normal;
        }
        td {
            text-align: center;
            font-weight: bold;
        }
    }
    .task_36 {
        h2 {
            font-style: italic;
        }
    }
    .task_37 {
        h1{
            font-size: 50px;
            text-align: center;
    
        }
        h2{
            font-size: 40px;
            font-weight: normal;
    
        }
        p{
            font-size: 30px;
    
        }
    }
    .task_38 {
        h1 {
            font-family: Arial;
        }
        h2 {
            font-family: Georgia;
        }
        h3 {
            font-family: Verdana;
        }
        h4 {
            font-family: "Trebuchet MS";
        }
        h5 {
            font-family: Impact;
        }
        h6 {
            font-family: "Arial Black";
        }
    
        p {
            font-family: "Courier New";
        }
    }
    .task_39 {
        p {
            font-size: 30px;
            line-height: 15px;
            text-align: justify;
            width: 600px;
        }
    }
    .task_40{

        p {
            font-size: 30px;
            line-height: 15;
            text-align: justify;
            width: 400px;
        }
        
        }
        .task_41_1 {
            p {
                font: 13px/20px "Times New Roman";
            }
        }
        .task_41_2 {

            p {
                width: 300px;
                font: bold 40px Arial;
                color: red;
              }
              
        }
        
        .task_41_3 {
            p {
                font: italic bold 40px Arial; 
                text-indent: 50px;
                line-height: 60px;
              }
              
        }

        .task_42 {
            p {
                text-indent: 50px;
                text-align: justify;
                width: 400px;
            }
        }
    
        .task_44 {
            p {
                text-decoration: underline;
        
            }
        }
        .task_45 {
            p {
                text-decoration: overline;
                color: red;
           }
        }
    
        .task_46 {
            p
             {
                text-decoration:  line-through;
                color: green;
             }
        }
        .task_47 {
            a {
                text-decoration: none;
                color : red;
            }
        }

        .task_48 {
            h1{
                width: 500px;
                text-align: center;
                color: blue;
                font-size: 40px
            }

            h2{
                width: 500px;
                text-align: center;
                color: green;
                font-weight: normal;
                font-size: 30px;
            }

            p{
                width: 500px;
                text-align: justify;
                font-size: 16px;
                line-height: 25px;
                font-family: Arial;
                text-indent: 40px;
            }

            i{
                color: green;
            }

            ul{
    width: 400px;
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
             }
        }
        .task_50a{
            p {
                color: blue;
            }
        }

        .task_50b{
            p {
                color: blue;
            }
            b {
                color: red;
            }
        }

        .task_50c{
            b {
                color: red;
            }
            p {
                color: blue;
            }
        }

        .task_50d{
            ul {
                color: blue;
            }
        }

        .task_50e{
            ul {
                color: blue;
            }
            li {
                color: red;
            }
        }

        .task_50f{
            ul {
                color: blue;
            }
            li {
                color: red;
            }
            i {
                color: green;
            }
        }

        .task_50g{
            i {
                font-size: 30px;
            }
            ul {
                font-size: 20px;
            }
            li {
                color: red;
                font-weight: bold;
            }
        }

        .task_51{
            h1, h2, h3 {
                text-align: center;
            }
        }

        .task_52{
            h1,h2,h3 {
                text-align: center;
            }
            h2 {
                color: blue;
            }
            h3 {
                font-size: 16px;
                color: red;
            }
        }
        .task_52b{
            h1,h2,h3 {
                text-align: center;
                color: red;
            }
                
                
            h3 {
                
                font-size: 16px;
                
            }

        }
        .task_53{
            ul i{
                color: red;
            }
            p i {
                color:#08f100
            }
        }
        .task_53b{
            p b i{
                color: red;
            }
        }
        .task_54{
            li > b{
                color: red;
            }
        }

        .eve {
            color: green;
        }
        .odd {
            color: red;
        }

        .eee {
            color: red;
        }
        .xxx{
            font-size: 30px;
        }
        .block1{
            color: red;
        }
.block2{
    color: green;
}

.block3{
color: blue;

}
.block4{
    color: red;
}

.block5{
color: green;

}
.eee, .zzz {
	line-height: 1.5;
	font-family: Arial;
}
.zzz {
	font-size: 30px;
}
.eee {
	font-size: 20px;
}

.eee, .zzz, .ggg {
	
	text-align: center;
	font-family: Arial;
}

.ggg {
	font-size: 35px;
	
}
.header{
    color: red;
}
h2 .header{
    
    font-size: 40px;
}
h3 .header{
    
    font-size: 30px;
}
.eee i{
    color: red;

}
.rrr .bbb {
    color: red;
}
.ccc h2 {
	color: red;
}
.aaa h2.nnn {
    color: red;
}
.lll h3.kkk {
	color: red;
}
.ppp p.kpk {
	color: red;
}
.ooo .iii.ttt {
    color: red;
}
p.KKK {
	color: red;
} 

.mmm p.nin {
	color: red;
} 

.tit p .oco {
	color: red;
} 
.success {
	color: green;
}
.error {
	color: red;
}
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}

.bold {
    font-weight: bold; /* Жирный текст */
}
.blue {
    color: blue; /* Синий цвет текста */
}
.center {
    text-align: center; /* Текст по центру */
}
#elem1 {
    color: red;
}

#elem2 {
    color: green;
}

#elem3 {
    color: blue;
} 
#block {
	color: rgb(255, 0, 170);
	font-family: Verdana;
}
.text {
	font-size: 45px;
} 
 
#element h2 {

    color: rgb(0, 217, 255);
    font-family: "Courier New";
} 
#element2 .text1 {
    color: rgb(12, 14, 99);
    font:  40px Arial; 
}
#element3 p.text3 {
    color: blue; 
    font:  40px Verdana ; 

}

#element4 li.text4 {
    color: gold;
}

.ror.tot.yoy {
	color: palevioletred;
    text-align: center;
}

.qoq.xox {
	color: red;
}


h2.qqqu.xxxu {
	color: red;
}

#elemm.boo {
    color: red;
}


#eleemm.ba.za {
	color: red;
}


h2#eelem.br {
	color: red;
}
h2.kiko{
	color: red;
}

h2 .tito{
	color: red;
}

.fht.clu{
	color: red;
}

.mov .cim{
	color: red;
}

.ddd.fff.ggg{
	color: red;
}

.leon .fav.jjj{
	color: red;
}

.rrr.ttt .yyy{
	color: red;
}

.kk .kl .ki{
	color: red;
}

#star.joli{
	color: red;
}

#elem10 .t10{
	color: red;
}
#block1 h1,
#block1 h2 {
  text-align: center;
}

/*Task#70_2 */

#block2 h1, 
#block2 h2 {
    text-align: center;
}

#block2 h1 {
    font-size: 30px;
}

#block2 h2 {
    font-size: 20px;
}

.readme{
    color:#f800a5;
}

/*#71*/
#blocks h1, #blocks h2, #blocks h3
 {
	text-align: center;
}
#blocks h2 {
	
	color: blue;
}
#blocks h3 {

	font-size: 16px;
	color: red;
}

#bloca h1.eee {
	
	font-size: 30px;
}
#bloca h2.zzz {
	
	font-size: 20px;
}
#bloca h1.eee, #bloca h2.zzz{
    text-align: center;
}

.xxx1 .kkk1, .eee3 h2.zzz3, #eee3 h2{
	text-align: center;
}

/* 71#4 */
.eee4 h2.zzz4, .xxx4{
	text-align: center;
}

/* Task 72_1 */
.task1 p{
    color: red;
}
/* Task 72_2 */
.task2 h2{
    color: blueviolet;
}
/* Task 72_3 */
#block3 p{
    color: green;
}
/* Task 72_4 */
#block4 h2{
    color:yellow;
}
/* Task 72_5 */
.bbb5{
    color: red;
}
/* Task 72_6 */
#block6 .bbb6{
    color: fuchsia;
}
/* Task 72_7 */
p.bbb7{
    color: darkred;
}
/* Task 72_8 */
h2.bbb8{
    color: rgb(102, 75, 255);
}
/* Task 72_9 */
#block9 p.bbb9{
    color: hotpink;
}
/* Task 72_10 */
.bbb10, .xxx10{
    color: mediumorchid;
}
/* Task 72_11 */
p.bbb11, h2.xxx11{
    color: blue;
}
/* Task 72_12 */
#block12 p.bbb12, #block12 p.xxx12{
    color: red;
}
/* Task 72_13 */
.fff13{
    color: rgb(230, 79, 198);
}
/* Task 72_14 */
.fff14 p{
    color:red;
}
/* Task 72_15 */
p.fff15{
    color: green;
}
/* Task 72_16 */
.fff16 .bbb16{
    color: crimson;
}
/* Task 72_17 */
.fff17 h2.bbb17{
    color: orangered;
}

/* Task#73_1 */
.task73 {
	font-size: 20px;
}
.task73 {
	font-size: 30px;
}
/* Task#73_1 */
.task74 {
	font-size: 20px;
	color: blue;
}
.task74 {
	font-style: italic;
	color: red;
}
/* Task#77_1 */
#elem77_1 + li {
	color: red;
}
/* Task#77_2 */
.elem77_2 + li {
	color: red;
}
/* Task#78_1 */
#elem78 ~ li {
	color: red;
}
main * p {
	color: red;
}
/*Task#80_1*/
[title] {
    color: rgb(1, 154, 67); 
    font-family: Verdana;
}
/*Task#80_2*/
p[title1] {
    color: green; 
    font-style: bold; 
}
/*Task#80_3*/
p[title3="hello"] {
    color:rgb(46, 42, 165);
    font-weight: italic;
}
/*Task#80_4*/
a[href^="http://"] {
    color:rgb(195, 255, 54);
    text-align: left;

}
/*Task#80_5*/

a[href$=".html"] {
    color: orangered;
}
/*Task#80_6*/
p[title4*="hello"] {
    
    font-size: 80px;
}
/*Task#80_7*/
p[class^="top-"] {
    color: rgb(6, 149, 56);
    font-size: 20px;
}
/* Task#82_1 */
.task82:link {
    color: blue; 
    text-decoration: none; 
  }
  
.task82:visited {
    color: green; 
    text-decoration: none;
  }
  
.task82:hover {
    color: red; 
    text-decoration: none; 
  }
  
.task82:active {
    color: black;
    text-decoration: none; 
  }
/* Task#84_1 */
.task84 {
    color: blue; 
    text-decoration: none; 
}
.task84:hover {
    color: red; 
    text-decoration: underline;
}
/* Task#85_1*/
#task85 a {
	color: red;
}
#task85 a:hover {
	text-decoration: none;
}
/* Task#86_1*/
a.zzz86_1 {
	color: red;
}
a.zzz86_1:hover {
	text-decoration: none;
}
/* Task#86_2*/
#task86_2 a.zzz86_2 {
	color: red;
}
#task86_2 a.zzz86_2:hover {
	text-decoration: none;
}
/* Task#86_3*/
.task86_3 a.zzz86_3 {
	color: red;
}
.task_86 a.zzz86_3:hover {
	text-decoration: none;
}
/* Task#87_1 */
.task87_1 li:first-child{
    color :rgb(255, 0, 0);
}
/* Task#87_2 */
.task87_2 li:last-child{
    color : green;
}
/* Task#87_3 */
.task87_3 li:first-child{
    color :rgb(255, 0, 0);
}
.task87_3 li:last-child{
    color : green;
}
/* Task#87_4 */
.task87_4 li:nth-child(3){
    color : red;
}
/* Task#87_5 */
.task87_5 li:nth-child(odd){
    color:red;
}
.task87_5 li:nth-child(even){
    color: green;
}
/* Task#87_6 */
.task87_6 li:nth-child(3n){
    color:red;
}
/* Task#87_7 */
.task87_7 li:nth-last-child(2){
    color:red; 
}
/* Task#87_8 */
.task87_8 li:only-child {
	color: red;
}

.task87_8 ul {
	margin-bottom: 10px;
}
/* Task#87_9 */
.task87_9 li {
    border: 1px solid red;
    width: 100px;
    padding: 3px;
    margin-top: 10px;
   }
.task87_9 li:empty {
    border: 1px solid blue;
   }
/* Task#88_1 */
.task88_1 p:first-of-type {
    color:darkblue;
}
.task88_1 p:last-of-type{
    color: purple;
}
/* Task#88_2 */
.task88_2 p:nth-last-of-type(even){
    color:rgb(160, 12, 162);
}
.task88_2 p:nth-of-type(odd){
    color: rgb(7, 192, 53);
}
/* Task#88_3 */
.task88_3 {
	border: 1px dashed rgb(255, 0, 225);
	padding: 15px;
	margin-bottom: 10px;
}
h2:only-of-type {
	color: red;
}
/* Task#89_1 */
.task89_1 li:not(li.elem89_1){
    color: orangered;
}
/* Task#89_2 */
.task89_2 li:not(:first-child) {
    color: blue;
}
/* Task#89_1 */
.task89_3 li:not(:first-child, :last-child){
    color: red;
}
#task90_1 {
    background-color: #808bf4;
    width: 200px;
	height: 200px;
}

#task90_2 {
    background-color: #4cf199;
    width: 300px;
	height: 200px;
    text-align: center;
    color:white;
    font-size: 30px;
}

#task92 {
    width: 300px;
    height: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
}

#task93 {
    border-width: 5px;
	border-style: dotted;
	border-color: red;
	width: 300px;
	height: 200px;
}

#task94 {
    border-width: 2px;
	border-style: dashed;
	border-color: rgb(255, 170, 0);
	width: 300px;
	height: 200px;
}

#task96 {
    border-width: 10px;
	border-style: double;
	border-color: blue;
	width: 300px;
	height: 200px;
}

#task97_1 {
    border: 1px solid red;
    width:300px;
    height: 200px;   
}

#task97_2 {
    border: 2px dotted blue;
    width:300px;
    height: 200px;
}

#task97_3 {
    border: 3px dashed green;
    width:300px;
    height: 200px;
}

#task97_4 {
    border: 5px double orange;
    width:300px;
    height: 200px;
}

#task98_1 {
    width: 300px;
    height: 200px;
    border-top: 3px solid blue;
    border-right: 3px solid green;
    border-left: 3px solid orange;
    border-bottom: 3px solid red;
}

#task98_2 {
    width: 300px;
    height: 200px;
    border-top: 1px solid blue;
    border-right: 3px dotted green;
    border-bottom: 1px solid blue;
    border-left: 3px solid red;
}

#task99 {
    height:200px;
    width: 200px;
    border: 1px solid green;
    border-radius: 30px;
}

#task100 {
    border-radius: 30px;
    height:200px;
    width: 200px;
    background-color: #44e18e ;
}

#task101 {
    border-radius: 100px;
    height:200px;
    width: 200px;
    border: 1px solid green;
}

#task103 {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px 50px 70px;
}

#task104 {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px;
}

#task105 {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px 20px;
}

#task107 {
    width: 100px;
    height: 100px;
    border: 1px solid green;
    border-radius: 50%;
}

#task112 ul {
	list-style-type: square;
}

#task113 ul {
	list-style-type: circle;
}

#task115 ul {
	list-style-type: none;
}

#task119 ol {
	list-style-type: lower-alpha;
}

#task120 ol {
	list-style-type: upper-alpha;
}

#task121 ol {
	list-style-type: lower-greek;
}

#parent123_1{
    width: 400px;
    border: 1px dashed blue;
}
#child123_1{
    margin: 50px;
    height: 300px;
    border: 1px solid orange;
}

#parent123_2{
    width: 400px;
    border: 1px dashed blue;
}

#child123_2{
    margin: 25px;
    border: 1px dashed green;
}

#child123_3{
    height: 200px;
    margin: 25px;
    border: 1px solid red;
}

#parent124_1 {
    width: 200px;
    border: 1px solid red;
}
#child124_1{
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    margin-left: 50px;
    height: 100px;
    border: 1px solid green;
}

#parent124_2{
    width: 200px;
    border: 1px solid red;
}

#child124_2{
    margin-top: 50px;
    margin-right: 25px;
    margin-bottom: 50px;
    margin-left: 25px;
    height: 100px;
    border: 1px solid green;
}

#parent124_3{
    width: 200px;
    border: 1px solid red;
}

#child124_3{
    margin-top: 20px;
    margin-right: 70px;
    margin-bottom: 20px;
    margin-left: 70px;
    height: 100px;
    border: 1px solid green;
}

#parent126{
    width: 200px;
    border: 1px solid orange;
}

#child126{
    margin: 25px 50px 100px 10px;
    height: 50px;
    border: 1px dashed blue;
}

#parent127_1{
    width: 200px;
    border: 1px solid orange;
}

#child127_1{
    margin: 100px 50px;
    height: 50px;
    border: 1px dashed blue;
}

#parent127_2{
    width: 200px;
    border: 1px solid orange;
}

#child127_2{
    margin: 25px 50px;
    height: 50px;
    border: 1px dashed blue;
}

#parent128_1{
    width: 200px;
    border: 1px solid orange;
}

#child128_1{
    margin: 100px 50px 30px;
    height: 50px;
    border: 1px dashed blue;
}

#parent128_2{
    width: 400px;
    border: 1px solid orange;
}

#child128_2{
    margin: 30px 100px 50px;
    height: 50px;
    border: 1px dashed blue;
}

#task129{
    width: 200px;
    text-align: justify;
    padding: 30px;
    border: 1px solid red;
}

#task129_1{
    width: 500px;
    text-align: justify;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid green;
}

#task129_2{
    width: 300px;
    text-align: justify;
    padding: 10px;
    margin-left: 50px;
    border: 1px solid red;
}

#task130{
    width: 200px;
    text-align: justify;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 100px;
    padding-left: 30px;
    border: 1px solid red;
}

#task131_1{
    width: 300px;
    text-align: justify;
    padding: 10px 20px 30px 40px;
    border: 1px solid red;
}

#task131_2{
    width: 300px;
    text-align: justify;
    padding: 60px 30px;
    border: 1px solid red;
}

#task131_3{
    width: 300px;
    text-align: justify;
    padding: 10px 20px 40px;
    border: 1px solid red;
}

#elem1 {
	width: 200px;
	height: 200px;
	background: lightpink;
	margin-bottom: 20px;
}

#elem2 {
	width: 200px;
	height: 200px;
	background: lightpink;
	padding: 25px; 
	border: 5px solid greenyellow;  
}
#elem3 {
	width: 200px;
	height: 200px;
	background: lightpink;
	margin-bottom: 20px;
}

#elem4{
	width: 200px;
	height: 200px;
	background: lightpink;
	padding: 25px; 
	border: 5px solid greenyellow;  
    box-sizing: border-box;
}

#task147 p{
    display: inline;
	border: 3px solid maroon;
	margin-bottom: 20px;
}
#task147 a{
    display: block;
    width: 200px;
	height: 50px;
    text-align: center;
	border: 2px solid darkmagenta;
	margin-bottom: 25px;
}

#task152 div{
    display: inline-block;
	width: 100px;
	height: 100px;
	border: 1px solid red;
}

#parent153{
    display: block;
    border: 1px solid red;
}
#child_1{
    height: 100px;
    width: 100px;
    border: 1px solid green;
    margin: 10px auto;
}
#child_2{
    height: 100px;
    width: 200px;
    border: 1px solid green;
    margin: 10px auto;
}
#child_3{
    height: 100px;
    width: 300px;
    border: 1px solid green;
    margin: 10px auto;
}
.parent161 {
	padding: 10px 0;
	border: 1px solid red;
    text-align: center;
}
.parent162_1 {
	padding: 10px 0;
	border: 1px solid red;
    text-align: right;
}
.parent162_2 {
	padding: 10px 30px;
	border: 1px solid red;
    text-align: right;
}

.parent164 {
	padding: 10px 0;
	border: 1px solid red;
    text-align: center;
}

.child164 {
	display: inline-block;
    padding: 10px;
    border: 1px solid green;
    margin: 5px;
}

.parent165_1 {
    padding: 10px 0;
    border: 1px solid red;
    text-align: right;
}
.child165_1 {
    display: inline-block; 
    padding: 10px;
    border: 1px solid green;
}

.parent165_2 {
    padding: 10px 20px 10px 0;
    border: 1px solid red;
    text-align: right; 
}
.child165_2 {
    display: inline-block; 
    padding: 10px;
    border: 1px solid green;
}

.parent165_3 {
    padding: 10px 0;
    border: 1px solid red;
    text-align: right; 
}
.child165_3 {
    display: inline-block; 
    padding: 10px;
    border: 1px solid green;
    margin-right: 10px; 
}

.parent165_4 {
    padding: 10px 0;
    border: 1px solid red;
    text-align: right; 
}
.child165_4 {
    display: inline-block; 
    width: 100px;
    padding: 10px;
    border: 1px solid green;
}

.parent165_5 {
    padding: 10px 0;
    border: 1px solid red;
    text-align: right; 
}
.child165_5 {
    display: inline-block; 
    width: 100px;
    padding: 10px;
    border: 1px solid green;
    text-align: center; 
}

.parent166 {
    display: flex;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child166 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
.parent167 {
    display: flex;
    width: 900px;
    margin: 20px auto;
    border: 1px solid red;
}
.child167 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

.parent168 {
    display: flex;
    margin: 20px auto;
    border: 1px solid red;
}
.child168 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}

.parent169 {
    display: inline-flex;
    margin: 20px auto;
    border: 1px solid red;
}
.child169 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
.parent170 {
    display: inline-flex;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid red;
}
.child170 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
.parent171 {
    display: inline-flex;
    
    margin: 20px auto;
    border: 1px solid red;
}
.child171 {
    width: 120px;
    height: 60px;
    margin: 30px;
    border: 1px solid green;
}

.parent173 {
    display: flex;
    justify-content: center;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child173 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
.parent174 {
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child174 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
.parent175 {
    display: flex;
    justify-content: space-around;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child175 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
.parent176 {
    display: flex;
    justify-content: space-evenly;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child176 {
    width: 120px;
    height: 60px;
    border: 1px solid green;
}


#elem177_1 {
    border: 1px solid red;
    left: 40px;
    top: 40px;
}

#elem177_2 {
    border: 1px solid blue;
    left: 110px;
    top: 110px; 
}

#elem177_3 {
    border: 1px solid green;
    left: 180px;
    top: 180px;
}

#elem177_1, #elem177_2, #elem177_3 {
    width: 50px;
    height: 50px;
    position: absolute;
}

#elem177_4 {
    border: 1px solid red;
    left: 40px;
}

#elem177_5 {
    border: 1px solid blue;
    left: 110px;
}

#elem177_6 {
    border: 1px solid green;
    left: 180px;
}

#elem177_4, #elem177_5, #elem177_6 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 300px;
}

#elem177_7 {
    border: 1px solid red;
    left: 40px;
    top: 420px;
}

#elem177_8 {
    border: 1px solid blue;
    left: 70px;
    top: 450px;
}

#elem177_9 {
    border: 1px solid green;
    left: 100px;
    top: 480px;
}

#elem177_7, #elem177_8, #elem177_9 {
    width: 50px;
    height: 50px;
    position: absolute;
}

#elem177_10 {
    background-color: #FF8888;
    left: 40px;
    top: 600px;
}

#elem177_11 {
    background-color: #7E89EB;
    left: 70px;
    top: 630px;
}

#elem177_12 {
    background-color: #4DEE99;
    left: 100px;
    top: 660px;
}

#elem177_10, #elem177_11, #elem177_12 {
    width: 50px;
    height: 50px;
    position: absolute;
}


#elem178_1 {
    position: relative;
    top: 80px;
    left: 40px;
    background-color: #FF8888;
}
#elem178_2 {
    position: relative;
    top: 40px;
    left: 80px;
    background-color: #7E89EB;
}
#elem178_3 {
    position: relative;
    left: 160px;
    background-color: #4DEE99;
}

#elem178_1, #elem178_2, #elem178_3 {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}




#parent179_1 {
	position: relative;

    width: 500px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid green;
}

#child179_1 {
    position: absolute;
    left: 100px;
    top: 100px;

    border: 1px solid red;
    width: 100px;
    height: 100px;
}

#parent179_2{
    position: relative;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    background-color: #4DEE99;
}

#child179_2_1{
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: #fff;
}

#child179_2_2{
    position: absolute;
    left: 50px;
    top: 50px;
    background-color: #fff; 
}

#child179_2_1, #child179_2_2{
    width: 100px;
    height: 100px;
}
#parent179_3{
    position: relative;
    width: 200px;
    height: 430px;
    margin: 0 auto;
    border: 1px solid black;
}

#child179_3_1{
    top: 50px;

    border: 1px solid black;
    background-color: red;
}

#child179_3_2{
    top: 160px;

    border: 1px solid black;
    background-color: yellow;
}

#child179_3_3{
    top: 270px;

    border: 1px solid black;
    background-color: green;
}

#child179_3_1, #child179_3_2, #child179_3_3{
    position: absolute;
    left: 50px;

    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#parent179_4{
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #4DEE99;
    border-radius: 250px;
}

#child179_4_1{
   top:70px;
   right: 100px;

   height: 100px;
   width: 100px;
   border-radius: 50px;
}

#child179_4_2{
    top:70px;
    left: 100px;

    height: 100px;
    width: 100px;
    border-radius: 50px; 
}

#child179_4_3{
    top: 200px;
    left: 215px;

    width: 70px;
    height:70px;
}

#child179_4_4{
    left: 150px;
    top: 350px;

    width: 200px;
    height: 20px;
}

#child179_4_1, #child179_4_2, #child179_4_3, #child179_4_4{
    position: absolute;

    background-color: #fff;
}

#parent179_5{
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #C4CD14;
    border-radius: 200px;
}


#child179_5_1{
    position: absolute;
    right: 80px;
    top: 70px;

    width: 80px;
    height: 80px;
    z-index: 1;
    border-radius: 40px;
    background-color: #fff;

}

#child179_5_2{
    position: absolute;
    left: 80px;
    top: 70px;

    width: 80px;
    height: 80px;
    z-index: 1;
    border-radius: 40px;
    background-color: #fff;
    
}

#child179_5_3{
    position: absolute;
    left: 165px;
    top: 200px;

    width: 70px;
    height: 70px;
    border-radius: 35px;
    z-index: 1;
    background-color: #fff;
}

#child179_5_4{
    position: absolute;
    left: 100px;
    top: 155px;

    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #fff;
}

#child179_5_5{
    background-color: #C4CD14;
    position: absolute;
    left: 50px;
    top: 30px;

    width: 300px;
    height: 300px;
    border-radius: 150px;
}

#elem182_1{
    position: absolute;
    top: 100px;
    right: 100px;
    bottom: 100px;
    left: 100px;
    border: 3px solid palevioletred;
}

#elem182_2{
    position: absolute;
    top: 100px;
    right: 200px;
    bottom: 50px;
    left: 10px;
    border: 3px solid palevioletred;
}


#parent183{
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid green;
}

#child183_1 {
    left: -50px;
}

#child183_2 {
    right: -50px;
}

#child183_1, #child183_2{
    position: absolute;
    top: 0;

    width: 30px;
    height: 30px;
    border: 1px solid red;
}

#elem185_1{
    position: fixed;
    top:0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color:#C4CD14;
    border-bottom: 1px solid #A3AA11;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 21px;
}

#elem185_2{
    border: 1px solid #C4CD14;
    width: 600px;
    margin: 60px auto;
    padding: 20px;
}