#task90_1 {
    background-color: #808bf4;
    width: 200px;
	height: 200px;
}

#task90_2 {
    background-color: #4cf199;
    width: 300px;
	height: 200px;
    text-align: center;
    color:white;
    font-size: 30px;
}

#task92 {
    width: 300px;
    height: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
}

#task93 {
    border-width: 5px;
	border-style: dotted;
	border-color: red;
	width: 300px;
	height: 200px;
}

#task94 {
    border-width: 2px;
	border-style: dashed;
	border-color: rgb(255, 170, 0);
	width: 300px;
	height: 200px;
}

#task96 {
    border-width: 10px;
	border-style: double;
	border-color: blue;
	width: 300px;
	height: 200px;
}

#task97_1 {
    border: 1px solid red;
    width:300px;
    height: 200px;   
}

#task97_2 {
    border: 2px dotted blue;
    width:300px;
    height: 200px;
}

#task97_3 {
    border: 3px dashed green;
    width:300px;
    height: 200px;
}

#task97_4 {
    border: 5px double orange;
    width:300px;
    height: 200px;
}

#task98_1 {
    width: 300px;
    height: 200px;
    border-top: 3px solid blue;
    border-right: 3px solid green;
    border-left: 3px solid orange;
    border-bottom: 3px solid red;
}

#task98_2 {
    width: 300px;
    height: 200px;
    border-top: 1px solid blue;
    border-right: 3px dotted green;
    border-bottom: 1px solid blue;
    border-left: 3px solid red;
}

#task99 {
    height:200px;
    width: 200px;
    border: 1px solid green;
    border-radius: 30px;
}

#task100 {
    border-radius: 30px;
    height:200px;
    width: 200px;
    background-color: #44e18e ;
}

#task101 {
    border-radius: 100px;
    height:200px;
    width: 200px;
    border: 1px solid green;
}

#task103 {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px 50px 70px;
}

#task104 {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px;
}

#task105 {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px 20px;
}

#task107 {
    width: 100px;
    height: 100px;
    border: 1px solid green;
    border-radius: 50%;
}

#task112 ul {
	list-style-type: square;
}

#task113 ul {
	list-style-type: circle;
}

#task115 ul {
	list-style-type: none;
}

#task119 ol {
	list-style-type: lower-alpha;
}

#task120 ol {
	list-style-type: upper-alpha;
}

#task121 ol {
	list-style-type: lower-greek;
}

